/*  PooPing Font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&display=swap');

:root{
    --primary-color: #3d5cb8;
    --primary-color-dark: #334c99;
    --text-dark: #0f172a;
    --text-light: #f1f5f9;
    --white: #ffffff;
    --max-width: 1200px;
}  

.section__container{
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.section__header{
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3rem;
    color: var(--text-dark);
}

.btn{
    padding: .75rem 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 2rem;
    cursor: pointer;
    transition: .3s;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
    display: flex;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

nav{
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.nav__logo{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-dark);
}

.nav__links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.link a{
    font-weight: 500;
    color: var(--text-light);
    transition: 0.3s;
}

.link a:hover{
    color: var(--text-dark);
}

.header__container .section__header{
    text-align: center;
    font-size: 3rem;
    line-height: 4rem;
}

.booking__nav{
    max-width: 600px;
    margin: auto;
    display:flex;
    align-items: center;
    background: var(--text-light);
    border-radius: 5px;
}

.booking__nav span{
    flex: 1;
    padding: 1rem 2rem;
    font-weight: 500;
    color: var(--text-light);
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.booking__nav span:nth-child(2){
    color: var(--white);
    background-color: var(--primary-color);
}

.booking__container form{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr) auto;
    gap: 1rem;
}

.booking__container .input__content{
    width: 100%;
}

.booking__container .form__group{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.booking__container .form__group span{
    padding: 10px;
    font-size: 1.5rem;
    color: var(--text-dark);
    background-color: var(--text-light);
    border-radius: 1rem;
}

.booking__container .input__group{
    width: 100%;
    position: relative;
}

.booking__container label{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%);
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-dark);
    pointer-events: none;
    transition: 0.3s;
}